@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  user-select: none;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none;
}

.primary-button:hover {
  @apply bg-amber-400;
}

.primary-button:active {
  @apply bg-amber-500;
}

.ImgSize {
  @apply w-[400px] h-[195px] object-cover;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300;
}

input:focus {
  @apply ring-2;
}

.dropdown-link {
  @apply flex p-2;
}

.dropdown-link:hover {
  @apply bg-gray-200;
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none;
}

.dropdown-link:hover {
  @apply bg-gray-200;
}

.dropdown-link:active {
  @apply bg-gray-300;
}

.mainImg {
  @apply w-[600px] h-[560px] object-cover !important;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

a {
  @apply text-blue-500;
}